extends layout.pug

append head
  link(rel="stylesheet" href="../stylesheets/hobby.css")
  script(src="/javascripts/hobby.js" defer)
block content
  div(id="hobby-page")
    a(href="javascript:history.back()" class="back-link") ← Back
    div(class="hobby-header-container")
      img(src=hobby.img alt="illustration of the hobby")
      div(id=hobby.id class="title-description")
        h1(class='hobby-h1')= hobby.title
        if req.session.auth
          if !user.userHobbyWheelhouse
            div(class="select-div")
              select(name="status" id="select-status" placeholder="Add to wheelhouse")
                //- option Add to wheelhouse
                each wheelhouse in user.wheelhouses
                  option(value=wheelhouse.id)= wheelhouse.status
              button(class="button status-button" id="add-to-wheelhouse-button") Add to Wheelhouse
          else
            div(class="change-remove-div")
              p Added to #{user.userHobbyWheelhouse}
              div(class="select-div")
              select(name="status" id="select-status" placeholder="Add to wheelhouse")
                //- option Add to wheelhouse
                each wheelhouse in user.wheelhouses
                  option(value=wheelhouse.id)= wheelhouse.status
              button(class="button status-button" id="add-to-wheelhouse-button") Change Status
              button(class="delete-from-wheelhouse") Remove from Wheelhouse
        p= hobby.description
    if req.session.auth
      h2(class='hobby-h2') Resources
      div(id='resources-form-container')
        form(id="resource-form")
          div(id="resource-form-container")
            input(type="hidden", name="_csrf", value=csrfToken)
            div.resource_title
              label(for="resource-title-input") Title
              input(id="resource-title-input" class="resource-input" name="resource-title-input" placeholder="Enter name of Resource.")
            div.resource_link
              label(for="resource-title-input" class='link-input-label') Link
              input(id="resource-link-input" class="resource-input" name="resource-link-input" placeholder="Enter link to Resource.")
        button(class="button" id="add-resource-button") Add
      div(id='resources-container')
        ol(id='resources-list')
          label(class='resource-label') Your Resources:
      //- if user is logged in, show the add experience form
    h2(class='hobby-h2') Experiences
    if req.session.auth && !user.experience
      form(id="experience-form")
        div(id="experience-form-container")
          input(type="hidden", name="_csrf", value=csrfToken)
          textarea(id="experience-message-input" class="message-textarea" name="experience-message-input" placeholder="Share your experience!")
          button(class="button" id="add-experience-button") Post
    div(id="experiences-container")
      each experience in experiences
        if req.session.auth
          if req.session.auth.userId === experience.userId
            div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text" id="user-experience")= experience.message
              button(class="button" id="edit-experience-button") Edit
              button(class="button" id="delete-experience-button") Delete
          else
            div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text")= experience.message
        else
          div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text")= experience.message
