extends layout.pug

append head
  link(rel="stylesheet" href="../stylesheets/hobby.css")
  script(src="/javascripts/hobby.js" defer)
block content
  div(id="hobby-page")
    a(href="/hobbies" class="back-link") ← Back to hobbies
    div(class="hobby-header-container")
      img(src=hobby.img alt="illustration of the hobby")
      div(id=hobby.id class="title-description")
        h1= hobby.title
        p= hobby.description
    div(class="status-dropdown")
      //- if user is logged in, add wheelhouse status dropdown
      if req.session.auth
        select(name="status" id="select-status" placeholder="Add to wheelhouse")
          //- option Add to wheelhouse
          each wheelhouse in user.wheelhouses
            option(value=wheelhouse.id)= wheelhouse.status
        button(class="button status-button" id="add-to-wheelhouse-button") Add to Wheelhouse
    div(id="experiences-container")
      if req.session.auth
        button(class="button" id="add-experience-button") Add Your Experience
      each experience in experiences
        div(class="experiences-container__experience")
          //- div(class="experience-header")
          p(class="experience-user")= experience.User.username
          p(class="experience-title")= experience.title
          p(class="experience-message")= experience.message
          if req.session.auth
            if req.session.auth.userId === experience.userId
              button(class="button" id="edit-experience-button") Edit
              button(class="button" id="delete-experience-button") Delete
