extends layout.pug

append head
  link(rel="stylesheet" href="../stylesheets/hobby.css")
  script(src="/javascripts/hobby.js" defer)
block content
  div(id="hobby-page")
    a(href="/hobbies" class="back-link") ← Back to hobbies
    div(class="hobby-header-container")
      img(src=hobby.img alt="illustration of the hobby")
      div(id=hobby.id class="title-description")
        h1= hobby.title
        p= hobby.description
    div(class="status-dropdown")
      //- if user is logged in, add wheelhouse status dropdown
      if req.session.auth
        select(name="status" id="select-status" placeholder="Add to wheelhouse")
          //- option Add to wheelhouse
          each wheelhouse in user.wheelhouses
            option(value=wheelhouse.id)= wheelhouse.status
        button(class="button status-button" id="add-to-wheelhouse-button") Add to Wheelhouse
    if req.session.auth
      form(id="experience-form")
        div(id="experience-form-container")
          textarea(id="experience-message-input" class="message-textarea" name="experience-message-input" placeholder="Share your experience!")
          button(class="button" id="add-experience-button") Post
    div(id="experiences-container")
      each experience in experiences
        if req.session.auth
          if req.session.auth.userId === experience.userId
            div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text" id="user-experience")= experience.message
              button(class="button" id="edit-experience-button") Edit
              button(class="button" id="delete-experience-button") Delete
          else
            div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text")= experience.message
        else
          div(class="experiences-container__experience" id=experience.id)
              p(class="experience-user experience-text")= experience.User.username
              p(class="experience-message experience-text")= experience.message
