
mixin validationErrorSummary(errors)
  if errors
    div(role='alert')
      p Please correct the following errors:
      ul
        each error in errors
          ul
            li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='')
//- don't forget to add classes!
