
mixin validationErrorSummary(errors)
  if errors
    .main_errorDiv
      div(role='alert').errorsDiv
        p.error_message Please correct the following errors:
          ul
            each error in errors
              li.error_message= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div.labelDiv
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      div.text_areaDiv
        textarea(id=fieldName name=fieldName class='' rows='5')= fieldValue
    else
      div.inputDiv
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='')
//- don't forget to add classes!
